/* colour palette */
$tiffany: #6FD1E7;
/* bg gradient from tiffany to white */
$coral: #FF6D6D;
$darkteal: #4DB2C8;
$mmgrey: #C7D1D1;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display');

body{
    background: linear-gradient(180deg, $tiffany 0%, white 100%) no-repeat;
    font-family: 'Playfair Display';
    padding: 0 2rem 0 2rem;
    
}

#site-name{
    color: white;
    top: 0;
    left: 0;
}

#construction-msg{
    color: white;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.center-text{
    text-align: center;
}

.vertical-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.shadow-text{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shadow{
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.btn{
    background-color: $coral;
    color: white;
    font-family: 'Playfair Display';
    font-weight: normal;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    border-style: none;
    transition: 1s;
}

.btn:hover{
    background-color: white;
    color: $coral;
    transition: 1s;
}

.btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media screen and (max-width: 600px){
    .btns{
        flex-direction: column;
    }
}
