{% extends 'layout.html' %}

{% block title %}
Coming soon!
{% endblock %}

{% block body %}
<div class="container vertical-center">
    <h1 id="construction" class="center-text shadow-text">🚧🚧🚧<br>Hey! This part of the website is still under construction.</h1>
    <h3 class="center-text shadow-text">In the meantime, you can check out the other pages or follow me on Instagram:</h3>
    <div class="center-text btns">
        <a href="https://instagram.com/mayettemondays" title="@mayettemondays on Instagram"><button
                class="btn shadow"><i>@mayettemondays</i></button></a>
        <a href="https://instagram.com/mayettemondaysshop" title="@mayettemondaysshop on Instagram"><button
                class="btn shadow"><i>@mayettemondaysshop</i></button></a>
    </div>
</div>
{% endblock %}