{% extends 'layout.html' %}

{% block title %} contact {% endblock %}

{% block body %}
<div id="contact-sect" class="vertical-center">
    <div id="contact-cols">
        <div class="contact-card">
            <img src="../static/images/instagram.png">
            <p>@mayettemondays</p>
            <p>@mayettemondaysshop</p>
        </div>
        <div class="contact-card">
            <img src="../static/images/email.png">
            <p>email@email.com</p>
            <p>Business inquiries only.</p>
        </div>
    </div>
</div>
{% endblock %}