{% extends 'layout.html' %}

{% block title %}
shop
{% endblock %}

{% block body %}
<div class="vertical-center">
    <h1 class="shadow-text"><strong>🚢 Shipping to Canada and the United States only 🚢</strong></h1>
    <h1 class="shadow-text"><strong>💌 Order via Instagram, pay via Paypal 💌</strong></h1>
    <div class="center-text btns">
        <a href="https://instagram.com/mayettemondaysshop" title="@mayettemondaysshop on Instagram"><button
                class="btn shadow"><i>@mayettemondaysshop</i></button></a>
                <a href="www.instagram.com/p/CDJyb-BBoPr/?igshid=1vlghjxsyc62z" title="Master Tag List"><button
                        class="btn shadow"><i>Master Tag List</i></button></a>
    </div>
    <!--insert shop ig-->
</div>
{% endblock %}